---
layout: page
---

<div>
	  {%- if site.posts.size > 0 -%}
		<!-- Provided partially from https://gist.github.com/tuananh/7432553#gistcomment-2045413 -->
		{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
		{% for yearMonth in postsByYearMonth %}
		  <h2>{{ yearMonth.name }}</h2>
		    <ul class="archives">
		      {% for post in yearMonth.items %}
		        <li>
		        	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		        	<span class="post-meta">{{ post.date | date: date_format }}</span>
					<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
					</a>
		        </li>
		      {% endfor %}
		    </ul>
		{% endfor %}
		<p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
	  {%- endif -%}
</div>
