---
layout: page
---

<div>
	  {%- if site.posts.size > 0 -%}
		<!-- Provided partially from https://gist.github.com/tuananh/7432553#gistcomment-2045413 -->
		{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
		{% for yearMonth in postsByYearMonth %}
		  <h4>{{ yearMonth.name }}</h4>
		    <ul class="archives">
		      {% for post in yearMonth.items %}
		        <li style="font-size:medium";>
		        	{%- assign date_format = site.minima.date_format | default: "%b %-d" -%}
		        	<span class="post-meta">{{ post.date | date: date_format }}</span>
					<h8>
						<a class="post-link" style="font-size:small;" href="{{ post.url | relative_url }}">
							{{ post.title | escape }}
						</a>
		   			</h8>
		        </li>
		      {% endfor %}
		    </ul>
		{% endfor %}
	  {%- endif -%}
</div>
